.counter {
    width: 300px;
    margin: 0 auto;
    border: 1px solid navy;
    padding: 20px;

    &__display {
        font-size: 20px;
    }

    &__button {
        border: 1px solid navy;
        border-radius: 5px;
        padding: 10px;
    }
}